<div class="screen-container">
  <div class="screen second-screen {{animationClassSecondScreen}}" (click)="onClickSecondScreen()">
    <div class="second-screen__title">
      <img src="assets/images/logo_evolti.svg" class="img-fluid" style="height: 230px; width: 500px;">
    </div>
  </div>
  <div class="screen first-screen {{animationClassFirstScreen}}" *ngIf="showFirstScreen" (click)="onClickFirstScreen()">
    <div class="first-screen__title">
      <p>Bienvenido a</p>
    </div>
  </div>
</div>
