<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="initial-data__screen-1__container">
        <div class="initial-data__screen-1__icon">
        </div>
      </div>
    </div>
  </div>
  <div class="initial-data__screen-1__title text-center">
    Te pediremos algunos datos sobre<br/>
    tu proyecto para contarte todos los beneficios<br/>
    que puedes obtener de manera personalizada
  </div>
  <div class="initial-data__screen-1__btn text-end">
    <a class="btn-navigation btn-navigation--white" (click)="continue()">continuar</a>
  </div>
</div>

