@import "src/styles/styles"

.initial-data__screen-2
  &__icon
    height: 125px
    width: 125px
    // not-so-clean way to center elements, but today I'm sick
    margin: 0 auto
    @include alert
  &__logo
    margin-top: 100px
    height: 100px
    width: 160px
    @include logo-evolti--white
  &__title
    color: white
    font-size: 50px
    font-family: Montserrat-Bold, sans-serif
    margin-top: 160px
  &__subtitle
    color: white
    font-size: 40px
    font-family: "Open Sans", sans-serif
    margin-bottom: 140px
