<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="initial-data__screen-2__logo"></div>
      <div class="initial-data__screen-2__title text-center">
        <div class="initial-data__screen-2__icon"></div>
        Recuerda
      </div>
      <div class="initial-data__screen-2__subtitle text-center">
        Debes tener a la mano tu factura de servicios públicos<br/>
        más reciente, allí encontrarás la información necesaria<br/>
        para responder las siguientes preguntas
      </div>
      <div class="initial-data__screen-1__btn text-end">
        <a class="btn-navigation btn-navigation--white" (click)="continue()">continuar</a>
      </div>
    </div>
  </div>
</div>
