<div class="welcome-two__container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 offset-md-1 col-md-10">
        <div class="welcome-two__logo"></div>
      </div>
    </div>
  </div>
  <div class="welcome-two__icon"></div>
  <div class="welcome-two__title">Recuerda</div>
  <div class="welcome-two__subtitle text-center">
    Debes tener a la mano tu <span class="openSansBold">factura de servicios públicos</span><br/>
    más reciente, allí encontrarás la información necesaria<br/>
    para responder las siguientes preguntas
  </div>
  <div class="container-fluid welcome-two__bottom">
    <div class="row">
      <div class="col-12 col-md-11 text-end">
        <button class="btn btn-link btn-navigation btn-navigation--white-right" (click)="continue()"></button>
      </div>
    </div>
  </div>
</div>
