<!-- Button trigger modal -->
<button #openWelcomeModal type="button" id="openWelcomeModal" class="btn btn-primary hidden" data-bs-toggle="modal" data-bs-target="#welcomeModal"></button>
<nav class="navbar navbar-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <form [formGroup]="profileForm" class="lup-form" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-6 text-end">
            <label for="name">Nombre completo</label>
          </div>
          <div class="col-6">
            <input id="name" type="text" formControlName="name">
          </div>
        </div>

        <label for="cellphone">Last Name</label>
        <input id="cellphone" type="text" formControlName="cellphone">

        <label for="email">E-mail</label>
        <input id="email" type="text" formControlName="email" [email]="true">

        <label for="country">País</label>
        <input id="country" type="text" formControlName="country">

        <label for="address">Dirección</label>
        <input id="address" type="text" formControlName="address">


        <button type="submit">Submit</button>
      </form>
    </a>
  </div>
</nav>



<div class="container container-showcase-1">
  <div class="row">
    <div class="col-12 col-md-6 container-showcase-1__col">
      <div class="container-showcase-1__title">
        <p>Obtén tus paneles solares con <span class="color-lup--yellow">0</span> pesos</p>
      </div>
      <div class="container-showcase-1__subtitle">
        Financiando con<br/>nosotros tu proyecto
      </div>
      <button class="lup-btn">conoce más</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 container-showcase-1__question">
      <span class="color-lup--yellow">¿Qué esperas</span><span class="color-lup--violet"> para conocernos?</span>
    </div>
  </div>
</div>

<div class="container container-showcase-2 text-center">
  <div class="row">
    <div class="col-12 color-lup--violet container-showcase-2__title">
      Realizamos la inversión<br/>
      necesaria para que tú<br/>
      aproveches los beneficios
    </div>
    <div class="col-12 container-showcase-2__subtitle">
      <p>En <span class="color-lup--violet"><strong>Evolti</strong></span> nos interesa impulsar un nuevo escenario para la<br/>
      sostenibilidad, poniendo al alcance de todos una nueva forma de<br/>
        desarrollar <span class="color-lup--yellow">proyectos solares.</span></p>
    </div>
  </div>
</div>

<div class="container container-showcase-3">
  <div class="row text-center">
    <div class="col-12 container-showcase-3__title">
      <p>
        <span class="color-lup--violet-light">Descubre que beneficios tenemos </span>
        <span class="color-lup--yellow">para ti</span>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6"></div>
    <div class="col-12 col-sm-5">
      <div class="color-lup--violet container-showcase-3__title">Sin inversión inicial</div>
      <div class="container-showcase-3__subtitle">
        <p>Sabemos que cada peso cuenta, en Evolti
          te ofrecemos obtener tu proyecto solar a
          <span class="color-lup--yellow"><b>costo cero</b></span>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 text-end">
      <div class="color-lup--violet-light container-showcase-3__title">
        Cero riesgo de instalación
      </div>
      <div class="container-showcase-3__subtitle">
        <p>Nos aseguraremos de contar con un instalador
          confiable y seguro que garantice la más <span class="color-lup--yellow">alta calidad</span> de tus paneles
        </p>
      </div>
    </div>
    <div class="col-12 col-sm-6"></div>
  </div>
</div>

<div class="container container-showcase-4 text-center">
  <div class="row">
    <div class="col-12">
      <div class="color-lup--violet-light container-showcase-4__title">
        Con evolti da el siguiente paso<br/>
        para conventirte en un amigo<br/>
        del planeta
      </div>
    </div>
    <div class="col-12"></div>
    <div class="col-12 color-lup--violet container-showcase-4__subtitle">
      Cambiando la manera en que llega la energía a tu residencia
    </div>
  </div>
</div>

<div class="container container-showcase-5">
  <div class="row text-center">
    <div class="col-12 container-showcase-5__title" >
      <span class="color-lup--yellow">¿Cómo </span> <span class="color-lup--violet-light">lo hacemos?</span>
    </div>
  </div>
</div>

<div class="container-fluid container-showcase-6">
  <div class="row">
    <div class="step-container">
      <div class="step">
        <div class="step__icon"></div>
        <div class="step__text">
          <div class="step__title">Analizamos la <br/>factibilidad del proyecto</div>
          <div class="step__description">Al recibir tu solicitud a través de un estudio simple y rápido para ponernos en contacto</div>
        </div>
      </div>
      <div class="step">
        <div class="step__icon"></div>
        <div class="step__text">
          <div class="step__title">Evolti realizará la inversión de los paneles por ti</div>
          <div class="step__description">Para que inicies con tu nueva energía sin demora</div>
        </div>
      </div>
      <div class="step">
        <div class="step__icon"></div>
        <div class="step__text">
          <div class="step__title">Garantizaremos la segura instalación del sistema solar</div>
          <div class="step__description">Sin ningún riesgo y siempre a tu alcance</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-special-step row-special-step-violet">
    <div class="row-special-step__header text-end">
      ¿Y cómo se paga mi proyecto?
    </div>
    <div class="step-container">
      <div class="step">
        <div class="step__icon"></div>
        <div class="step__text">
          <div class="step__title">Durante una primera fase de operación, te proveeremos de energía más económica</div>
          <div class="step__description">Tendrás un descuesto en la factura mensual, mientras compartes con evolti ese ahorro de energía</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-special-step row-special-step-white">
    <div class="row-special-step__header text-end">
      <p><span class="color-lup--yellow">¿Y después </span><span class="color-lup--violet-light">qué sigue?</span></p>
    </div>
    <div class="step-container">
      <div class="step">
        <div class="step__icon"></div>
        <div class="step__text">
          <div class="step__title">Finalizada la fase de operación, evolti te entregará tu sistema solar</div>
        </div>
      </div>
      <div class="step">
        <div class="step__icon"></div>
        <div class="step__text">
          <div class="step__title">De ahí en adelante tú eres el dueño</div>
          <div class="step__description">Disfrutando la energía limpia, renovable y gratuita del sol</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-showcase-7 text-center">
  <div class="row">
    <div class="col-12 container-showcase-7__title">
      En solo 3 pasos aplica para<br/>
      iniciar con tu proyecto solar
    </div>
    <div class="col-12 container-showcase-7__subtitle">
      ¿Listo para empezar con una nueva forma de hacer las cosas?
    </div>
    <div class="col-12">
      <button class="lup-btn">¿Comenzamos?</button>
    </div>
  </div>
</div>
<div class="container-fluid container-showcase-8">
  <div class="row text-center">
    <div class="col-12 col-md-4">Términos y condiciones</div>
    <div class="col-12 col-md-4">312-234-4556</div>
    <div class="col-12 col-md-4">evolti@evolti.com</div>
  </div>
</div>

<!-- Modal -->
<div class="modal" id="welcomeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <app-welcome-modal (onClosedModal)="closeModal()"></app-welcome-modal>
      <button #closeWelcomeModal type="button" data-bs-dismiss="modal"></button>
    </div>
  </div>
</div>
