<app-flux-status-header
  [fluxTitle]="'<p><span class=\'color-lup--violet-light\'>Sobre tus </span><span class=\'color-lup--yellow\'>datos de contacto</span></p>'"
  [fluxStep]="3">
</app-flux-status-header>

<div class="container-fluid contact-form">
  <div class="row">
    <div class="lup-form">
      <div class="lup-form__field lup-form__field--mandatory">
        <div class="row">
          <div class="col-10 offset-1 col-sm-10 col-lg-4 contact-form__col">
            <label for="input1">
              Nombre
            </label>
            <label class="mandatory">*</label>
          </div>
          <div class="col-10 offset-1 col-sm-10 offset-lg-0 col-lg-6">
            <input id="input1"
                   class="lup-form__input"
                   type="text"
                   [(ngModel)]="name"/>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="lup-form">
      <div class="lup-form__field lup-form__field--mandatory">
        <div class="row">
          <div class="col-10 offset-1 col-sm-10 col-lg-4 contact-form__col">
            <label for="input2">
              Celular
            </label>
            <label class="mandatory">*</label>
          </div>
          <div class="col-10 offset-1 col-sm-10 offset-lg-0 col-lg-6">
            <input id="input2"
                   class="lup-form__input"
                   type="text"
                   inputmode="numeric"
                   pattern="[0-9]*"
                   digitOnly
                   maxlength="10"
                   [(ngModel)]="cellphone"/>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="lup-form">
      <div class="lup-form__field lup-form__field--mandatory">
        <div class="row">
          <div class="col-10 offset-1 col-sm-10 col-lg-4 contact-form__col">
            <label for="input3">
              E-mail
            </label>
            <label class="mandatory">*</label>
          </div>
          <div class="col-10 offset-1 col-sm-10 offset-lg-0 col-lg-6">
            <input id="input3"
                   class="lup-form__input"
                   type="email"
                   [(ngModel)]="email"/>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="false">
    <div class="lup-form">
      <div class="lup-form__field lup-form__field--mandatory">
        <div class="row">
          <div class="col-10 offset-1 col-sm-10 col-lg-4 contact-form__col">
            <label for="input4">
              País
            </label>
            <label class="mandatory">*</label>
          </div>
          <div class="col-10 offset-1 col-sm-10 offset-lg-0 col-lg-6">
            <input id="input4"
                   class="lup-form__input"
                   type="number"
                   [(ngModel)]="country" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="false">
    <div class="lup-form">
      <div class="lup-form__field lup-form__field--mandatory">
        <div class="row">
          <div class="col-10 offset-1 col-sm-10 col-lg-4 contact-form__col">
            <label for="input5">
              Dirección
            </label>
            <label class="mandatory">*</label>
          </div>
          <div class="col-10 offset-1 col-sm-10 offset-lg-0 col-lg-6">
            <input id="input5"
                   class="lup-form__input"
                   type="number"
                   placeholder="Carr 00a #00a 00"
                   [(ngModel)]="address"/>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>

<div class="contact-form__container">
  <div class="contact-form__form">
      <div class="lup-form">
        <div class="lup-form__field" *ngIf="uploadBill">
          <label for="inputFile1">
            Adjunta tu última factura de servicios públicos
          </label>
          <input #input1 type="file" id="inputFile1" class="file-upload"
                 onchange="console.log(event.target.files)">
          <button
            class="lup-form__upload-button"
            (click)="captureFile(1);"
            >PDF, JPG, PNG</button>
        </div>
        <div class="lup-form__field" *ngIf="uploadProjectPrice">
          <label for="inputFile2">
            Adjunta la cotización del proyecto a financiar
          </label>
          <input #input2 type="file" id="inputFile2" class="file-upload"
                 onchange="console.log(event.target.files)">
          <button
            class="lup-form__upload-button"
            (click)="captureFile(2);"
          >PDF, JPG, PNG</button>
        </div>
      </div>
    </div>
  <div class="contact-form__footer">
    <div class="container-fluid">
      <div class="row" [class.contact-form__empty-row]="isValidData()">
        <div class="col-12 offset-md-1 col-md-10 text-end form-alert"
             *ngIf="!isValidData()">* Para continuar completa el formulario</div>
      </div>
      <div class="row">
        <div class="col-10 offset-1 col-xl-5">
          <div class="lup-checkbox">
            <input type="checkbox" id="dataTreatment"
                   name="nature" value="dataTreatment"
                    [checked]="dataTreatment"
                    (change)="dataTreatment = !dataTreatment">
            <label for="dataTreatment">
              Acepto las políticas de tratamiento de datos *
            </label>
          </div>
        </div>
        <div class="col-10 offset-1 col-xl-5 text-end">
          <button class="btn btn-link btn-navigation btn-navigation--violet-left"
                  [class.btn-navigation--margin-right]="!isValidData()"
                  (click)="back()"></button>
          <button class="btn btn-link btn-navigation btn-navigation--violet-right"
                  (click)="continue()"
                  *ngIf="isValidData()"></button>
        </div>
      </div>
    </div>
  </div>
</div>

