<app-flux-status-header
  [fluxTitle]="'<p><span class=\'color-lup--violet-light\'>Sobre tus </span><span class=\'color-lup--yellow\'>datos de contacto</span></p>'"
  [fluxStep]="3">
</app-flux-status-header>
<div class="contact-form__container">
  <div class="contact-form__form">
      <div class="lup-form">
        <div class="lup-form__field">
          <label for="input1">
            Nombre completo
          </label>
          <input id="input1"
                 class="lup-form__input"
                 type="text"
                 [(ngModel)]="name"/>
        </div>
        <div class="lup-form__field">
          <label for="input2">
            Celular
          </label>
          <input id="input2"
                 class="lup-form__input"
                 type="text"
                 inputmode="numeric"
                 pattern="[0-9]*"
                 digitOnly
                 maxlength="10"
                 [(ngModel)]="cellphone"/>
        </div>
        <div class="lup-form__field">
          <label for="input3">
            E-mail
          </label>
          <input id="input3"
                 class="lup-form__input"
                 type="email"
                 [(ngModel)]="email"/>
        </div>
        <div class="lup-form__field" *ngIf="false">
          <label for="input4">
            País
          </label>
          <input id="input4"
                 class="lup-form__input"
                 type="number"
                 [(ngModel)]="country" />
        </div>
        <div class="lup-form__field" *ngIf="false">
          <label for="input5">
            Dirección
          </label>
          <input id="input5"
                 class="lup-form__input"
                 type="number"
                 placeholder="Carr 00a #00a 00"
                [(ngModel)]="address"/>
        </div>
        <div class="lup-form__field">
          <label for="inputFile1">
            Adjunta tu última factura de servicios públicos
          </label>
          <input #input1 type="file" id="inputFile1" class="file-upload"
                 onchange="console.log(event.target.files)">
          <button
            class="lup-form__upload-button"
            (click)="captureFile(1);"
            >PDF, JPG, PNG</button>
        </div>
        <div class="lup-form__field">
          <label for="inputFile2">
            Adjunta la cotización del proyecto a financiar
          </label>
          <input type="file" id="inputFile2" class="file-upload"
                 onchange="console.log(event.target.files)">
          <button
            class="lup-form__upload-button"
            (click)="captureFile(2);"
          >PDF, JPG, PNG</button>
        </div>
      </div>
    </div>
  <div class="contact-form__footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 offset-md-1 col-md-5">
          <div class="lup-checkbox">
            <input type="checkbox" id="dataTreatment"
                   name="nature" value="dataTreatment">
            <label for="dataTreatment">
              Acepto las políticas de tratamiento de datos
            </label>
          </div>
        </div>
        <div class="col-12 col-md-5 text-end">
          <button class="btn btn-link btn-navigation btn-navigation--violet-left"
                  (click)="back()"></button>
          <button class="btn btn-link btn-navigation btn-navigation--violet-right"
                  (click)="continue()"
                  *ngIf="isValidData()"></button>
        </div>
      </div>
    </div>
  </div>
</div>

