<div class="initial-data__container">
  <div class="initial-data__first-screen {{firstScreenClass}}">
    <div class="initial-data__first-screen__icon"></div>
    <div class="initial-data__first-screen__title text-center">
      Te pediremos algunos datos sobre<br/>
      tu proyecto para contarte todos los beneficios<br/>
      que puedes obtener de manera personalizada
    </div>
    <div class="initial-data__first-screen__btn text-end">
      <a class="btn-next" (click)="closeFirstScreen()">continuar</a>
    </div>
  </div>
  <div class="initial-data__second-screen {{secondScreenClass}}">
    <div class="initial-data__second-screen__icon"></div>
    <div class="initial-data__second-screen__title">
      Recuerda
    </div>
    <div class="initial-data__second-screen__subtitle">
      Debes tener a la mano tu factura de servicios públicos<br/>
      más reciente, allí encontrarás la información necesaria<br/>
      para responder las siguientes preguntas
    </div>
    <div class="initial-data__first-screen__btn text-end">
      <a class="btn-next" (click)="closeSecondScreen()">continuar</a>
    </div>
  </div>
  <div class="initial-data__third-screen"></div>
</div>
