@import "src/styles/styles"
$background-violet: transparent linear-gradient(270deg, #510CA8 0%, #2B054A 100%) 0% 0% no-repeat padding-box

.initial-data
  &__container
    position: relative
    height: 100vh
    width: 100vw
    >*
      position: absolute
      width: 100%
      // height: 100vh
    &--2, &--7, &--10
      background: $background-violet
  &__screen
    &-3, &-4, &-5, &-6, &-8, &-9, &-11
      background: white
    &-1, &-2, &-7, &-10, &-13
      background: transparent linear-gradient(270deg, #510CA8 0%, #2B054A 100%) 0% 0% no-repeat padding-box

// overrides
.lup-form__input
  width: 352px
