@import "src/styles/styles"

.initial-data__container
  position: relative
  >*
    position: absolute
    height: 100vh
    width: 100vw

.initial-data__first-screen, .initial-data__second-screen
  background: transparent linear-gradient(270deg, #510CA8 0%, #2B054A 100%) 0% 0% no-repeat padding-box
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  // if you need to disable these screens
  // display: none

.initial-data__first-screen
  z-index: 10
  &__icon
    background: red
    height: 100px
    width: 100px
  &__title
    font-family: Montserrat-Bold, sans-serif
    color: white
    font-size: 50px
  &__btn
    width: 70%

.initial-data__second-screen
  z-index: 9
  color: white
  &__icon
    height: 100px
    width: 100px
    background: red
  &__title
    font-size: 50px
    font-family: Montserrat-Bold, sans-serif
  &__subtitle
    font-size: 40px
    font-family: "Open Sans", sans-serif

.initial-data__third-screen
  // if you want to disable this screen
  // display: none
  background: white
  z-index: 8
  .container-fluid
    margin-top: 117px
  &__description-1, &__description-2
    font-family: "Open Sans", sans-serif
  &__description-1
    font-size: 25px
    color: $lup-dark-grey
  &__description-2
    color: $lup-violet-light
    font-size: 20px
    margin-bottom: 62px
  &__description-3
    display: flex
    justify-content: flex-end
    &--image
      background: red
      width: 200px
      height: 200px

.initial-data__fourth-screen
  z-index: 7

// overrides
.lup-form__input
  width: 352px
.lup-checkbox
  margin-bottom: 72px
