<app-flux-status-header
  [fluxTitle]="'<p><span class=\'color-lup--violet-light\'>Sobre tu </span><span class=\'color-lup--yellow\'>energía</span></p>'"
  [fluxStep]="1">
</app-flux-status-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-6 offset-sm-1 col-sm-10">
      <div class="lup-checkbox">
        <div class="row">
          <div class="col-12 col-sm-3 col-md-12 col-lg-2 flex-center">
            <div class="lup-checkbox__title">Eres</div>
          </div>
          <div class="col-12 col-sm-4 col-md-12 col-lg-5 flex-center">
            <input type="radio" id="personaNatural"
                   name="nature" value="pn">
            <label for="personaNatural">Persona Natural&nbsp;</label>
          </div>
          <div class="col-12 col-sm-4 col-md-12 col-lg-5 flex-center">
            <input type="radio" id="personaJuridica"
                   name="nature" value="pj">
            <label for="personaJuridica">Persona Jurídica</label>
          </div>
        </div>
      </div>
      <div class="lup-form">
        <div class="lup-form__field">
          <div class="row">
            <div class="col-12 col-xl-7">
              <label for="input1">
                * ¿Cuánto pagaste en tu última factura de energía?
              </label>
            </div>
            <div class="col-12 col-xl-5">
              <input id="input1"
                     class="lup-form__input"
                     type="text"
                     placeholder="500.000"
                     inputmode="numeric"
                     pattern="[0-9]*"
                     digitOnly
                     [(ngModel)]="lastMonthBill"/>
            </div>
          </div>
        </div>
        <div class="lup-form__field">
          <div class="row">
            <div class="col-12 col-xl-7">
              <label for="input2">
                * ¿Cuál fue el consumo de energía del mes en Kilovatio/ hora <span class="color-lup--violet-light">(kWh)</span>?
              </label>
            </div>
            <div class="col-12 col-xl-5">
              <input id="input2" class="lup-form__input"
                     type="text" placeholder="181"
                     inputmode="numeric"
                     pattern="[0-9]*"
                     digitOnly
                     [decimal]="true"
                     [(ngModel)]="lastMonthEnergyUsage"/>
            </div>
          </div>
        </div>
        <div class="lup-form__field">
          <div class="row">
            <div class="col-12 col-xl-7">
              <label for="input3">
                * ¿En qué ciudad se ubicaría tu proyecto solar?
              </label>

            </div>
            <div class="col-12 col-xl-5">
              <input id="input3"
                     class="lup-form__input"
                     type="text"
                     placeholder="Medellín"
                     [(ngModel)]="city"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3 offset-sm-1 col-sm-10 energy-screen__description-1 text-end">
      <div class="energy-screen__description-1">
        <p>
          <span class="openSansBold">Los datos de consumo </span>podrás<br/>
          encontrarlos en tu factura:
        </p>
        <br/>
      </div>
      <div class="energy-screen__description-2">
        (Su ubicación depende de la<br/>
        empresa prestadora del servicio)
      </div>
      <div class="energy-screen__description-3">
        <div class="energy-screen__description-3--image"></div>
      </div>
    </div>
  </div>
  <div class="row energy-screen__bottom">
    <div class="col-12 offset-sm-1 offset-md-1 col-md-10 form-alert" *ngIf="!isAllowedToContinue()">* Para continuar completa el formulario</div>
    <div class="col-12 offset-sm-1 offset-md-1 col-md-10" *ngIf="isAllowedToContinue()">
      <button class="btn btn-link btn-navigation btn-navigation--violet-right"
              (click)="continue()"></button>
    </div>
  </div>
</div>
