@import "src/styles/styles"
.final-screen
  &__container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
  &__icon
    @include logo-evolti--white
    width: 250px
    height: 155px
    margin-top: 113px
    margin-bottom: 200px
  &__title
    color: white
    font-family: Montserrat-Bold, sans-serif
    font-size: 60px
    margin-bottom: 73px
  &__subtitle
    color: white
    font-family: "Open Sans", sans-serif
    font-size: 40px
    max-width: 1326px
    margin-bottom: 123px
  &__confirmation
    color: white
    font-size: 33px
    font-family: Montserrat-SemiBold, sans-serif
    margin-bottom: 32px
  &__resend-email
    background: #9D4EDD 0% 0% no-repeat padding-box
    border: 1px solid #98989829
    border-radius: 18px
    color: white
    font-family: Montserrat-SemiBold, sans-serif
    font-size: 12px
    padding: 10px 28px
