<app-flux-status-header
  [fluxTitle]="'<p><span class=\'color-lup--violet-light\'>Sobre tu </span><span class=\'color-lup--yellow\'>proyecto solar</span></p>'">
</app-flux-status-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 offset-md-1 col-md-10">
      <div class="flux-one__header">Ya tengo una cotización</div>
    </div>
    <div class="col-12 text-center">
      <div class="flux-one__title">¿Quién es tu proveedor de paneles solares?</div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="flux-one__form">
        <div class="lup-form">
          <div class="lup-form__field">
            <label for="input1">
              Nombre de la empresa
            </label>
            <input id="input1"
                   class="lup-form__input"
                   type="text"
                   maxlength="21"
                   [(ngModel)]="companyName"
            />
          </div>
          <div class="lup-form__field">
            <label for="input2">
              ¿Cuánta energía <span class="color-lup--yellow">mensual</span> generaría<br/>
              tu proyecto en kilovatio/hora <span class="color-lup--violet-light">(kWh)</span>?
            </label>
            <input id="input2"
                   class="lup-form__input"
                   type="text"
                   placeholder="181kWh"
                   inputmode="numeric"
                   pattern="[0-9]*"
                   digitOnly
                   [(ngModel)]="monthlyEnergy"/>
          </div>
          <div class="lup-form__field">
            <label for="input3">
              Ingresa el precio total<br/>
              del proyecto a financiar
            </label>
            <input id="input3"
                   class="lup-form__input"
                   type="text"
                   placeholder="25'500,000"
                   inputmode="numeric"
                   pattern="[0-9]*"
                   digitOnly
                   [(ngModel)]="totalPrice"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-5 offset-sm-1">
      <button class="btn btn-link btn-navigation btn-navigation--violet-left"
              (click)="goBack()"></button>
    </div>
    <div class="col-12 col-sm-5 text-end" *ngIf="isValidData()">
      <button class="btn btn-link btn-navigation btn-navigation--violet-right"
         (click)="continue()"></button>
    </div>
  </div>
</div>

