<div class="container-fluid">
  <div class="row">
    <div class="col-12 loading-screen--center">
      <div class="loading-screen__icon">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-10 offset-1">
      <div class="loading-screen__subtitle">
        De acuerdo a los datos que has proporcionado nuestro sistema está calculando la factibilidad de financiamiento para tu proyecto solar y presentarte las
        <span class="openSansBold">alternativas adecuadas</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="loading-screen__title">
        <div class="loading-screen__loading-icon rotate-center"></div>
        <div>El sistema está calculando</div>
      </div>
    </div>
  </div>
  <div class="row loading-screen__row">
    <div class="col-12 loading-screen__btn text-end">
      <button class="btn btn-link btn-navigation btn-navigation--white-right"
              *ngIf="!isLoading"
              (click)="continue()"></button>
    </div>
  </div>
</div>
