@import "../../styles/styles"

.loading-screen
  &__icon
    margin: 113px 0 27px 0
    height: 155px
    width: 244px
    @include logo-evolti--white
  &__subtitle
    align-self: flex-start
    color: white
    font-family: "Open Sans", sans-serif
    font-size: 25px
    max-width: 562px
    margin-bottom: 165px
    width: 100%
  &--center
    display: flex
    justify-content: center
  &__title
    color: white
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    font-family: Montserrat-Bold, sans-serif
    font-size: 50px
  &__loading-icon
    @include loading
    background-position-x: -3px
    height: 62px
    width: 62px
    margin-right: 49px
  &__row
    align-items: center
    display: flex
    flex-direction: column
    margin-top: 190px
  &__btn
    width: 70%
